In [2]:
import numpy as np
import pandas as pd

1.

In [3]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

serL = pd.Series(mylist)
serA = pd.Series(myarr)
serD = pd.Series(mydict)

print(serL.head(), serA.head(), serD.head())

0    a
1    b
2    c
3    e
4    d
dtype: object 0    0
1    1
2    2
3    3
4    4
dtype: int32 a    0
b    1
c    2
e    3
d    4
dtype: int32

2.

In [4]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

df = ser.to_frame().reset_index()
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

3.

In [5]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)

df = pd.concat([ser1, ser2], axis=1)

df = pd.DataFrame({'col1': ser1, 'col2': ser2})
print(df.head())

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

4.

In [6]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

ser.name = 'latin_letters'
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: latin_letters, dtype: object

5.

In [7]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser1[~ser2.isin(ser1)]

2    3
3    4
4    5
dtype: int64

6.

In [8]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser_union = pd.Series(np.union1d(ser1, ser2))
ser_intersect = pd.Series(np.intersect1d(ser1, ser2))

ser_union[~ser_union.isin(ser_intersect)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

7.

In [9]:
state = np.random.RandomState(100)
ser = pd.Series(np.random.normal(10, 5, 25))

np.percentile(ser, q=[0, 25, 50, 75, 100])

array([ 4.57588473,  7.21802096, 11.18008674, 14.62959419, 20.84638086])

8.

In [10]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser.value_counts()

c    7
a    4
f    4
b    4
h    4
e    3
g    3
d    1
Name: count, dtype: int64

9.

In [11]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

ser_mode = ser.value_counts().nlargest(2).index
ser.where(ser.isin(ser_mode), 'Прочее', inplace=True)
ser

C:\Users\ntikh\AppData\Local\Temp\ipykernel_7824\3379742038.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Прочее' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  ser.where(ser.isin(ser_mode), 'Прочее', inplace=True)

0          1
1          4
2          4
3     Прочее
4          1
5     Прочее
6          1
7          1
8          4
9     Прочее
10         4
11    Прочее
dtype: object

10.

In [12]:
ser = pd.Series(np.random.random(20))

def make_ordinal(n):
    suffixes = {1: 'st', 2: 'nd', 3: 'rd'}
    suffix = suffixes.get(n if n <= 3 else n % 10, 'th')
    return f"{n}{suffix}"

decile_labels = [make_ordinal(i) for i in range(1, 11)]
result = pd.qcut(ser, q=10, labels=decile_labels)

print("# First 5 items")
print(result.head())

# First 5 items
0    10th
1     1st
2    10th
3     7th
4     3rd
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

11.

In [13]:
ser = pd.Series(np.random.randint(1, 10, 35))
df = pd.DataFrame(np.array(ser).reshape(7, 5))
df

   0  1  2  3  4
0  3  7  5  2  4
1  7  4  6  5  2
2  1  7  8  9  8
3  6  1  8  8  4
4  6  4  9  7  7
5  6  7  4  6  1
6  7  1  9  6  1

12.

In [14]:
ser = pd.Series(np.random.randint(1, 10, 7))
print(ser)
np.argwhere(ser % 3 == 0)

0    9
1    7
2    9
3    5
4    3
5    4
6    6
dtype: int32

array([[0],
       [2],
       [4],
       [6]], dtype=int64)

13.

In [15]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

14.

In [16]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

df = pd.concat([ser1, ser2], axis=1)
df

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

15.

In [17]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

16.

In [18]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

np.mean((truth - pred)**2)

0.6077113006730537

17.

In [19]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
ser.apply(lambda x: x.title())

0     How
1      To
2    Kick
3    Ass?
dtype: object

18.

In [20]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
ser.apply(len)

0    3
1    2
2    4
3    4
dtype: int64

19.

In [21]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

print(ser.diff().tolist())
print(ser.diff().diff().tolist())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

20.

In [22]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
ser.apply(lambda x: pd.to_datetime(x))

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

21.

In [91]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
ser = ser.apply(lambda x: pd.to_datetime(x))

print(f'Дата: {ser.dt.day.tolist()}')
print(f'Номер недели в году: {ser.dt.isocalendar().week.tolist()}')
print(f'Номер дня в году: {ser.dt.dayofyear.tolist()}')
print(f'День недели: {ser.dt.day_name().tolist()}')

Дата: [1, 2, 3, 4, 5, 6]
Номер недели в году: [53, 5, 9, 14, 19, 23]
Номер дня в году: [1, 33, 63, 94, 125, 157]
День недели: ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']

22.

In [96]:
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])
ser = ser.apply(lambda x: pd.to_datetime(x))
ser = ser.dt.to_period('M').dt.to_timestamp() + pd.Timedelta(days=3)
ser

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

23.

In [103]:
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
vowels = 'aeiouy'
ser[ser.apply(lambda x: sum(1 for c in x if c.lower() in vowels)) >= 2]

0     Apple
1    Orange
3    Python
4     Money
dtype: object

24.

In [110]:
import re

emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern = '[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
mask = emails.str.match(pattern, flags=re.IGNORECASE)
emails[mask]

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

25.

In [107]:
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))

df = pd.DataFrame({'fruit': fruit, 'weights': weights})
df.groupby('fruit').mean()

        weights
fruit
apple     10.00
banana     3.25
carrot     6.40

26.

In [118]:
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])
squares = ((q - p)**2).sum()
np.sqrt(squares)

18.16590212458495

27.

In [122]:
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])
peaks_mask = (ser > ser.shift(1)) & (ser > ser.shift(-1))
ser[peaks_mask].index.values

array([1, 5, 7], dtype=int64)

28.

In [133]:
my_str = 'dbc deb abed gade'
ser = pd.Series(list(my_str))
counts = ser.value_counts()
my_str = my_str.replace(' ', counts.index[-1])
my_str

'dbcgdebgabedggade'

29.

In [176]:
date_range = pd.date_range(start='2000-01-01', periods=7*10)
saturdays = date_range[date_range.weekday == 5][:10]

random_values = np.random.randint(1, 10, size=10)
time_series = pd.Series(random_values, index=saturdays)
time_series

2000-01-01    1
2000-01-08    8
2000-01-15    7
2000-01-22    7
2000-01-29    1
2000-02-05    1
2000-02-12    5
2000-02-19    1
2000-02-26    9
2000-03-04    7
dtype: int32

30.

In [ ]:
ser = pd.Series([1, 10, 3, np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
full_index = pd.date_range(start=ser.index.min(), end=ser.index.max())

ser_filled = ser.reindex(full_index).ffill()
ser_filled

2000-01-01     1.0
2000-01-02     1.0
2000-01-03    10.0
2000-01-04    10.0
2000-01-05    10.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     3.0
Freq: D, dtype: float64

31.

32.

In [182]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv')
df[::50]

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
50,0.08873,21.0,5.64,0,0.439,5.963,45.7,6.8147,4,243,16.8,395.56,13.45,19.7
100,0.14866,0.0,8.56,0,0.520,6.727,79.9,2.7778,5,384,20.9,394.76,9.42,27.5
150,1.65660,0.0,19.58,0,0.871,6.122,97.3,1.6180,5,403,14.7,372.80,14.10,21.5
200,0.01778,95.0,1.47,0,0.403,7.135,13.9,7.6534,3,402,17.0,384.30,4.45,32.9
250,0.14030,22.0,5.86,0,0.431,6.487,13.0,7.3967,7,330,19.1,396.28,5.90,24.4
300,0.04417,70.0,2.24,0,0.400,6.871,47.4,7.8278,5,358,14.8,390.86,6.07,24.8
350,0.06211,40.0,1.25,0,0.429,6.490,44.4,8.7921,1,335,19.7,396.90,5.98,22.9
400,25.04610,0.0,18.10,0,0.693,5.987,100.0,1.5888,24,666,20.2,396.90,26.77,5.6
450,6.71772,0.0,18.10,0,0.713,6.749,92.6,2.3236,24,666,20.2,0.32,17.44,13.4
500,0.22438,0.0,9.69,0,0.585,6.027,79.7,2.4982,6,391,19.2,396.90,14.33,16.8

33.

34.

35.

In [24]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv',
                 usecols=['crim', 'medv'])
df

        crim  medv
0    0.00632  24.0
1    0.02731  21.6
2    0.02729  34.7
3    0.03237  33.4
4    0.06905  36.2
..       ...   ...
501  0.06263  22.4
502  0.04527  20.6
503  0.06076  23.9
504  0.10959  22.0
505  0.04741  11.9

[506 rows x 2 columns]

36.

In [28]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
print(f"(Строки, столбцы): {df.shape}")
print('Типы данных столбцов:')
print(df.dtypes.value_counts())
df_stats = df.describe()
print('Статистика: ')
print(df_stats)
df_arr = df.values
df_list = df.values.tolist()
print('Эквивалент в numpy: ')
print(df_arr)
print('Эквивалент в списке: ')
print(df_list)

(Строки, столбцы): (93, 27)
Типы данных столбцов:
float64    18
object      9
Name: count, dtype: int64
Статистика:
       Min.Price      Price  Max.Price   MPG.city  MPG.highway  EngineSize  \
count  86.000000  91.000000  88.000000  84.000000    91.000000   91.000000
mean   17.118605  19.616484  21.459091  22.404762    29.065934    2.658242
std     8.828290   9.724280  10.696563   5.841520     5.370293    1.045845
min     6.700000   7.400000   7.900000  15.000000    20.000000    1.000000
25%    10.825000  12.350000  14.575000  18.000000    26.000000    1.800000
50%    14.600000  17.700000  19.150000  21.000000    28.000000    2.300000
75%    20.250000  23.500000  24.825000  25.000000    31.000000    3.250000
max    45.400000  61.900000  80.000000  46.000000    50.000000    5.700000

       Horsepower          RPM  Rev.per.mile  Fuel.tank.capacity  Passengers  \
count   86.000000    90.000000     87.000000           85.000000   91.000000
mean   144.000000  5276.666667   2355.000000           16.683529    5.076923
std     53.455204   605.554811    486.916616            3.375748    1.045953
min     55.000000  3800.000000   1320.000000            9.200000    2.000000
25%    100.750000  4800.000000   2017.500000           14.500000    4.000000
50%    140.000000  5200.000000   2360.000000           16.500000    5.000000
75%    170.000000  5787.500000   2565.000000           19.000000    6.000000
max    300.000000  6500.000000   3755.000000           27.000000    8.000000

           Length   Wheelbase      Width  Turn.circle  Rear.seat.room  \
count   89.000000   92.000000  87.000000    88.000000       89.000000
mean   182.865169  103.956522  69.448276    38.954545       27.853933
std     14.792651    6.856317   3.778023     3.304157        3.018129
min    141.000000   90.000000  60.000000    32.000000       19.000000
25%    174.000000   98.000000  67.000000    36.000000       26.000000
50%    181.000000  103.000000  69.000000    39.000000       27.500000
75%    192.000000  110.000000  72.000000    42.000000       30.000000
max    219.000000  119.000000  78.000000    45.000000       36.000000

       Luggage.room       Weight
count     74.000000    86.000000
mean      13.986486  3104.593023
std        3.120824   600.129993
min        6.000000  1695.000000
25%       12.000000  2647.500000
50%       14.000000  3085.000000
75%       16.000000  3567.500000
max       22.000000  4105.000000
Эквивалент в numpy:
[['Acura' 'Integra' 'Small' ... 2705.0 'non-USA' 'Acura Integra']
 [nan 'Legend' 'Midsize' ... 3560.0 'non-USA' 'Acura Legend']
 ['Audi' '90' 'Compact' ... 3375.0 'non-USA' 'Audi 90']
 ...
 ['Volkswagen' 'Corrado' 'Sporty' ... 2810.0 'non-USA'
  'Volkswagen Corrado']
 ['Volvo' '240' 'Compact' ... 2985.0 'non-USA' 'Volvo 240']
 [nan '850' 'Midsize' ... 3245.0 'non-USA' 'Volvo 850']]
Эквивалент в списке:

37.

In [37]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df.loc[df.Price == np.max(df.Price), ('Manufacturer', 'Model', 'Type')]

row, = np.where(df.Price == np.max(df.Price))

df.at[row[0], 'Price']

61.9

42.

In [81]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

df['Min.Price'].fillna(df['Min.Price'].mean(), inplace=True)

df['Max.Price'].fillna(df['Max.Price'].median(), inplace=True)
df

C:\Users\ntikh\AppData\Local\Temp\ipykernel_7824\2620123178.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Min.Price'].fillna(df['Min.Price'].mean(), inplace=True)
C:\Users\ntikh\AppData\Local\Temp\ipykernel_7824\2620123178.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Max.Price'].fillna(df['Max.Price'].median(), inplace=True)

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.900000,15.9,18.80,25.0,31.0,NaN,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.200000,33.9,38.70,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.900000,29.1,32.30,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,17.118605,37.7,44.60,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,17.118605,30.0,19.15,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.600000,19.7,22.70,17.0,21.0,NaN,Front,...,7.0,187.0,115.0,72.0,38.0,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.600000,20.0,22.40,21.0,30.0,NaN,Front,...,5.0,180.0,103.0,67.0,35.0,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.900000,23.3,23.70,18.0,25.0,NaN,Front,...,4.0,159.0,97.0,66.0,36.0,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.800000,22.7,23.50,21.0,28.0,Driver only,Rear,...,5.0,190.0,104.0,67.0,37.0,29.5,14.0,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.800000,26.7,28.50,20.0,28.0,Driver & Passenger,Front,...,5.0,184.0,105.0,69.0,38.0,30.0,15.0,3245.0,non-USA,Volvo 850

67.

In [45]:
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'taste': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})
print(df)

df_grouped = df['taste'].groupby(df.fruit)
df_grouped.get_group('banana').sort_values().iloc[-2]

    fruit     taste  price
0   apple  0.791358     11
1  banana  0.839013      9
2  orange  0.855370      8
3   apple  0.278274      1
4  banana  0.382294      4
5  orange  0.715595      2
6   apple  0.294325     12
7  banana  0.647783     10
8  orange  0.815839      1

0.6477831880317577

68.

In [49]:
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'taste': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

out = df.groupby('fruit', as_index=False)['price'].mean()
out

    fruit     price
0   apple  3.000000
1  banana  5.000000
2  orange  6.666667

69.

In [55]:
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})

pd.merge(df1, df2, 
         how='inner', 
         left_on=('fruit', 'weight'), 
         right_on=('pazham', 'kilo'),
         suffixes=('_left', '_right'))

    fruit weight  price_left  pazham  kilo  price_right
0   apple   high           9   apple  high            1
1  orange    low          14  orange   low            7
2   apple   high           5   apple  high            1
3  orange    low           0  orange   low            7
4   apple   high           6   apple  high            1
5  orange    low          10  orange   low            7

70.

In [58]:
df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns = list('abcd'))

df['a_lag1'] = df['a'].shift(1)
df['b_lead1'] = df['b'].shift(-1)

df

    a   b   c   d  a_lag1  b_lead1
0  93   1  96  19     NaN     57.0
1  57  57  71  38    93.0     95.0
2  40  95   5  87    57.0     95.0
3  19  95  81  50    40.0     13.0
4  82  13  71  30    19.0      NaN

71.

In [59]:
df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), 
                  columns = list('abcd'))
df.value_counts(df.values.ravel())

ValueError: Grouper and axis must be same length

72.

In [69]:
df = pd.DataFrame(["STD, City    State",
"33, Kolkata    West Bengal",
"44, Chennai    Tamil Nadu",
"40, Hyderabad    Telengana",
"80, Bangalore    Karnataka"], columns=['row'])

df_out = df.row.str.split(',|\t', expand=True)
new_header = df_out.iloc[0]
df_out = df_out[1:]
df_out.columns = new_header
print(df_out)

0 STD            City    State
1  33   Kolkata    West Bengal
2  44    Chennai    Tamil Nadu
3  40   Hyderabad    Telengana
4  80   Bangalore    Karnataka