In [2]:
import numpy as np
import pandas as pd

1.

In [3]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

serL = pd.Series(mylist)
serA = pd.Series(myarr)
serD = pd.Series(mydict)

print(serL.head(), serA.head(), serD.head())

0    a
1    b
2    c
3    e
4    d
dtype: object 0    0
1    1
2    2
3    3
4    4
dtype: int32 a    0
b    1
c    2
e    3
d    4
dtype: int32

2.

In [4]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

df = ser.to_frame().reset_index()
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

3.

In [5]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)

df = pd.concat([ser1, ser2], axis=1)

df = pd.DataFrame({'col1': ser1, 'col2': ser2})
print(df.head())

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

4.

In [6]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

ser.name = 'latin_letters'
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: latin_letters, dtype: object

5.

In [7]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser1[~ser2.isin(ser1)]

2    3
3    4
4    5
dtype: int64

6.

In [8]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser_union = pd.Series(np.union1d(ser1, ser2))
ser_intersect = pd.Series(np.intersect1d(ser1, ser2))

ser_union[~ser_union.isin(ser_intersect)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

7.

In [9]:
state = np.random.RandomState(100)
ser = pd.Series(np.random.normal(10, 5, 25))

np.percentile(ser, q=[0, 25, 50, 75, 100])

array([ 0.42671582,  7.32954553,  9.26584739, 14.39585191, 19.42938285])

8.

In [10]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser.value_counts()

c    8
e    4
b    4
d    4
a    3
h    3
f    2
g    2
Name: count, dtype: int64

9.

In [11]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

ser_mode = ser.value_counts().nlargest(2).index
ser.where(ser.isin(ser_mode), 'Прочее', inplace=True)
ser

C:\Users\ntikh\AppData\Local\Temp\ipykernel_19288\3379742038.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Прочее' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  ser.where(ser.isin(ser_mode), 'Прочее', inplace=True)

0          4
1          4
2     Прочее
3          3
4          3
5          3
6          4
7     Прочее
8          4
9     Прочее
10         4
11         3
dtype: object

10.

In [12]:
ser = pd.Series(np.random.random(20))

def make_ordinal(n):
    suffixes = {1: 'st', 2: 'nd', 3: 'rd'}
    suffix = suffixes.get(n if n <= 3 else n % 10, 'th')
    return f"{n}{suffix}"

decile_labels = [make_ordinal(i) for i in range(1, 11)]
result = pd.qcut(ser, q=10, labels=decile_labels)

print("# First 5 items")
print(result.head())

# First 5 items
0    7th
1    2nd
2    7th
3    1st
4    5th
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

11.

In [13]:
ser = pd.Series(np.random.randint(1, 10, 35))
df = pd.DataFrame(np.array(ser).reshape(7, 5))
df

   0  1  2  3  4
0  5  3  1  5  6
1  4  2  2  2  8
2  1  8  7  6  1
3  5  8  3  1  1
4  6  3  4  5  2
5  3  8  2  5  3
6  8  1  9  6  6

12.

In [14]:
ser = pd.Series(np.random.randint(1, 10, 7))
print(ser)
np.argwhere(ser % 3 == 0)

0    4
1    8
2    9
3    9
4    9
5    4
6    2
dtype: int32

array([[2],
       [3],
       [4]], dtype=int64)

13.

In [15]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

14.

In [16]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

df = pd.concat([ser1, ser2], axis=1)
df

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

15.

In [17]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

16.

In [18]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

np.mean((truth - pred)**2)

0.18596126671609356

17.

In [19]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
ser.apply(lambda x: x.title())

0     How
1      To
2    Kick
3    Ass?
dtype: object

18.

In [20]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
ser.apply(len)

0    3
1    2
2    4
3    4
dtype: int64

19.

In [21]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

print(ser.diff().tolist())
print(ser.diff().diff().tolist())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

20.

In [22]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
ser.apply(lambda x: pd.to_datetime(x))

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

21.

In [23]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
ser = ser.apply(lambda x: pd.to_datetime(x))

print(f'Дата: {ser.dt.day.tolist()}')
print(f'Номер недели в году: {ser.dt.isocalendar().week.tolist()}')
print(f'Номер дня в году: {ser.dt.dayofyear.tolist()}')
print(f'День недели: {ser.dt.day_name().tolist()}')

Дата: [1, 2, 3, 4, 5, 6]
Номер недели в году: [53, 5, 9, 14, 19, 23]
Номер дня в году: [1, 33, 63, 94, 125, 157]
День недели: ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']

22.

In [24]:
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])
ser = ser.apply(lambda x: pd.to_datetime(x))
ser = ser.dt.to_period('M').dt.to_timestamp() + pd.Timedelta(days=3)
ser

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

23.

In [25]:
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
vowels = 'aeiouy'
ser[ser.apply(lambda x: sum(1 for c in x if c.lower() in vowels)) >= 2]

0     Apple
1    Orange
3    Python
4     Money
dtype: object

24.

In [26]:
import re

emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern = '[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
mask = emails.str.match(pattern, flags=re.IGNORECASE)
emails[mask]

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

25.

In [27]:
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))

df = pd.DataFrame({'fruit': fruit, 'weights': weights})
df.groupby('fruit').mean()

         weights
fruit
apple   2.666667
banana  8.000000
carrot  5.000000

26.

In [28]:
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])
squares = ((q - p)**2).sum()
np.sqrt(squares)

18.16590212458495

27.

In [29]:
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])
peaks_mask = (ser > ser.shift(1)) & (ser > ser.shift(-1))
ser[peaks_mask].index.values

array([1, 5, 7], dtype=int64)

28.

In [30]:
my_str = 'dbc deb abed gade'
ser = pd.Series(list(my_str))
counts = ser.value_counts()
my_str = my_str.replace(' ', counts.index[-1])
my_str

'dbcgdebgabedggade'

29.

In [31]:
date_range = pd.date_range(start='2000-01-01', periods=7*10)
saturdays = date_range[date_range.weekday == 5][:10]

random_values = np.random.randint(1, 10, size=10)
time_series = pd.Series(random_values, index=saturdays)
time_series

2000-01-01    4
2000-01-08    2
2000-01-15    5
2000-01-22    9
2000-01-29    2
2000-02-05    9
2000-02-12    7
2000-02-19    7
2000-02-26    1
2000-03-04    4
dtype: int32

30.

In [32]:
ser = pd.Series([1, 10, 3, np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
full_index = pd.date_range(start=ser.index.min(), end=ser.index.max())

ser_filled = ser.reindex(full_index).ffill()
ser_filled

2000-01-01     1.0
2000-01-02     1.0
2000-01-03    10.0
2000-01-04    10.0
2000-01-05    10.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     3.0
Freq: D, dtype: float64

31.

In [33]:
ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))
autocorr = [ser.autocorr(lag=i) for i in range(1, 11)]

print(autocorr)
print("Лаг с наибольшей корреляцию: ", np.argmax(autocorr) + 1)

[0.2208570696286633, 0.3658980916103532, 0.20710230102501942, 0.3191744229096556, 0.047758551424070254, 0.18962929901103678, -0.2446688103021714, 0.2917604382333647, 0.3348476562262159, -0.0005391595707951065]
Лаг с наибольшей корреляцию:  2

32.

In [34]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv')
df[::50]

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
50,0.08873,21.0,5.64,0,0.439,5.963,45.7,6.8147,4,243,16.8,395.56,13.45,19.7
100,0.14866,0.0,8.56,0,0.520,6.727,79.9,2.7778,5,384,20.9,394.76,9.42,27.5
150,1.65660,0.0,19.58,0,0.871,6.122,97.3,1.6180,5,403,14.7,372.80,14.10,21.5
200,0.01778,95.0,1.47,0,0.403,7.135,13.9,7.6534,3,402,17.0,384.30,4.45,32.9
250,0.14030,22.0,5.86,0,0.431,6.487,13.0,7.3967,7,330,19.1,396.28,5.90,24.4
300,0.04417,70.0,2.24,0,0.400,6.871,47.4,7.8278,5,358,14.8,390.86,6.07,24.8
350,0.06211,40.0,1.25,0,0.429,6.490,44.4,8.7921,1,335,19.7,396.90,5.98,22.9
400,25.04610,0.0,18.10,0,0.693,5.987,100.0,1.5888,24,666,20.2,396.90,26.77,5.6
450,6.71772,0.0,18.10,0,0.713,6.749,92.6,2.3236,24,666,20.2,0.32,17.44,13.4
500,0.22438,0.0,9.69,0,0.585,6.027,79.7,2.4982,6,391,19.2,396.90,14.33,16.8

33.

In [35]:
url = "https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv"
df = pd.read_csv(url)

df['medv'] = df['medv'].apply(lambda x: 'Low' if x < 25 else 'High')
df

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,Low
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,Low
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,High
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,High
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,Low
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,Low
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,Low
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,Low
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,Low

34.

In [36]:
L = pd.Series(range(15))
result = pd.DataFrame([L[i:i+4].values for i in range(0, len(L)-3, 2)])
print(result.to_string(index=False, header=False))

 0  1  2  3
 2  3  4  5
 4  5  6  7
 6  7  8  9
 8  9 10 11
10 11 12 13

35.

In [37]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv',
                 usecols=['crim', 'medv'])
df

        crim  medv
0    0.00632  24.0
1    0.02731  21.6
2    0.02729  34.7
3    0.03237  33.4
4    0.06905  36.2
..       ...   ...
501  0.06263  22.4
502  0.04527  20.6
503  0.06076  23.9
504  0.10959  22.0
505  0.04741  11.9

[506 rows x 2 columns]

36.

In [38]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
print(f"(Строки, столбцы): {df.shape}")
print('Типы данных столбцов:')
print(df.dtypes.value_counts())
df_stats = df.describe()
print('Статистика: ')
print(df_stats)
df_arr = df.values
df_list = df.values.tolist()
print('Эквивалент в numpy: ')
print(df_arr)
print('Эквивалент в списке: ')
print(df_list)

(Строки, столбцы): (93, 27)
Типы данных столбцов:
float64    18
object      9
Name: count, dtype: int64
Статистика:
       Min.Price      Price  Max.Price   MPG.city  MPG.highway  EngineSize  \
count  86.000000  91.000000  88.000000  84.000000    91.000000   91.000000
mean   17.118605  19.616484  21.459091  22.404762    29.065934    2.658242
std     8.828290   9.724280  10.696563   5.841520     5.370293    1.045845
min     6.700000   7.400000   7.900000  15.000000    20.000000    1.000000
25%    10.825000  12.350000  14.575000  18.000000    26.000000    1.800000
50%    14.600000  17.700000  19.150000  21.000000    28.000000    2.300000
75%    20.250000  23.500000  24.825000  25.000000    31.000000    3.250000
max    45.400000  61.900000  80.000000  46.000000    50.000000    5.700000

       Horsepower          RPM  Rev.per.mile  Fuel.tank.capacity  Passengers  \
count   86.000000    90.000000     87.000000           85.000000   91.000000
mean   144.000000  5276.666667   2355.000000           16.683529    5.076923
std     53.455204   605.554811    486.916616            3.375748    1.045953
min     55.000000  3800.000000   1320.000000            9.200000    2.000000
25%    100.750000  4800.000000   2017.500000           14.500000    4.000000
50%    140.000000  5200.000000   2360.000000           16.500000    5.000000
75%    170.000000  5787.500000   2565.000000           19.000000    6.000000
max    300.000000  6500.000000   3755.000000           27.000000    8.000000

           Length   Wheelbase      Width  Turn.circle  Rear.seat.room  \
count   89.000000   92.000000  87.000000    88.000000       89.000000
mean   182.865169  103.956522  69.448276    38.954545       27.853933
std     14.792651    6.856317   3.778023     3.304157        3.018129
min    141.000000   90.000000  60.000000    32.000000       19.000000
25%    174.000000   98.000000  67.000000    36.000000       26.000000
50%    181.000000  103.000000  69.000000    39.000000       27.500000
75%    192.000000  110.000000  72.000000    42.000000       30.000000
max    219.000000  119.000000  78.000000    45.000000       36.000000

       Luggage.room       Weight
count     74.000000    86.000000
mean      13.986486  3104.593023
std        3.120824   600.129993
min        6.000000  1695.000000
25%       12.000000  2647.500000
50%       14.000000  3085.000000
75%       16.000000  3567.500000
max       22.000000  4105.000000
Эквивалент в numpy:
[['Acura' 'Integra' 'Small' ... 2705.0 'non-USA' 'Acura Integra']
 [nan 'Legend' 'Midsize' ... 3560.0 'non-USA' 'Acura Legend']
 ['Audi' '90' 'Compact' ... 3375.0 'non-USA' 'Audi 90']
 ...
 ['Volkswagen' 'Corrado' 'Sporty' ... 2810.0 'non-USA'
  'Volkswagen Corrado']
 ['Volvo' '240' 'Compact' ... 2985.0 'non-USA' 'Volvo 240']
 [nan '850' 'Midsize' ... 3245.0 'non-USA' 'Volvo 850']]
Эквивалент в списке:

37.

In [39]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df.loc[df.Price == np.max(df.Price), ('Manufacturer', 'Model', 'Type')]

row, = np.where(df.Price == np.max(df.Price))

df.at[row[0], 'Price']

61.9

38.

In [40]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

df = df.rename(columns={'Type': 'CarType'})

df.columns = df.columns.str.replace('.', '_')
df.columns

Index(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

39.

In [41]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

"Есть отсутствующие значения" if df.isnull().any().any() else "Нет отсутствующих значений"

'Есть отсутствующие значения'

40.

In [42]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

missing_values = df.isnull().sum()

print("Количество пропущенных значений в каждом столбце:")
print(missing_values)

max_missing = missing_values.idxmax()
print(f"\nСтолбец с наибольшим числом пропущенных значений: {max_missing}")
print(f"Количество пропущенных значений в нём: {missing_values[max_missing]}")

Количество пропущенных значений в каждом столбце:
Manufacturer           4
Model                  1
Type                   3
Min.Price              7
Price                  2
Max.Price              5
MPG.city               9
MPG.highway            2
AirBags               38
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev.per.mile           6
Man.trans.avail        5
Fuel.tank.capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn.circle            5
Rear.seat.room         4
Luggage.room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64

Столбец с наибольшим числом пропущенных значений: AirBags
Количество пропущенных значений в нём: 38

41.

In [43]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

df['Min.Price'] = df['Min.Price'].fillna(df['Min.Price'].mean())
df['Max.Price'] = df['Max.Price'].fillna(df['Max.Price'].mean())

df

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.900000,15.9,18.800000,25.0,31.0,NaN,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.200000,33.9,38.700000,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.900000,29.1,32.300000,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,17.118605,37.7,44.600000,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,17.118605,30.0,21.459091,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.600000,19.7,22.700000,17.0,21.0,NaN,Front,...,7.0,187.0,115.0,72.0,38.0,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.600000,20.0,22.400000,21.0,30.0,NaN,Front,...,5.0,180.0,103.0,67.0,35.0,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.900000,23.3,23.700000,18.0,25.0,NaN,Front,...,4.0,159.0,97.0,66.0,36.0,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.800000,22.7,23.500000,21.0,28.0,Driver only,Rear,...,5.0,190.0,104.0,67.0,37.0,29.5,14.0,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.800000,26.7,28.500000,20.0,28.0,Driver & Passenger,Front,...,5.0,184.0,105.0,69.0,38.0,30.0,15.0,3245.0,non-USA,Volvo 850

42.

In [44]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

df['Min.Price'] = df['Min.Price'].fillna(df['Min.Price'].mean())
df['Max.Price'] = df['Max.Price'].fillna(df['Max.Price'].median())

df

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.900000,15.9,18.80,25.0,31.0,NaN,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.200000,33.9,38.70,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.900000,29.1,32.30,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,17.118605,37.7,44.60,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,17.118605,30.0,19.15,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.600000,19.7,22.70,17.0,21.0,NaN,Front,...,7.0,187.0,115.0,72.0,38.0,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.600000,20.0,22.40,21.0,30.0,NaN,Front,...,5.0,180.0,103.0,67.0,35.0,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.900000,23.3,23.70,18.0,25.0,NaN,Front,...,4.0,159.0,97.0,66.0,36.0,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.800000,22.7,23.50,21.0,28.0,Driver only,Rear,...,5.0,190.0,104.0,67.0,37.0,29.5,14.0,2985.0,non-USA,Volvo 240
92,NaN,850,Midsize,24.800000,26.7,28.50,20.0,28.0,Driver & Passenger,Front,...,5.0,184.0,105.0,69.0,38.0,30.0,15.0,3245.0,non-USA,Volvo 850

43.

In [45]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
result = df[['a']]
result

    a
0   0
1   5
2  10
3  15

44.

In [57]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
df = df.reindex(columns=['c', 'b', 'a', 'd', 'e'])
print(df)


def swap_columns(df, col1, col2):
    cols = df.columns.tolist()
    idx1, idx2 = cols.index(col1), cols.index(col2)
    cols[idx1], cols[idx2] = cols[idx2], cols[idx1]
    return df.reindex(columns=cols)


df = df.reindex(columns=sorted(df.columns, reverse=True))
df

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

    e   d   c   b   a
0   4   3   2   1   0
1   9   8   7   6   5
2  14  13  12  11  10
3  19  18  17  16  15

45.

In [61]:
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 10)

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
print(df)

   Manufacturer    Model     Type  Min.Price  Price  ...  Rear.seat.room  \
0         Acura  Integra    Small       12.9   15.9  ...            26.5
1           NaN   Legend  Midsize       29.2   33.9  ...            30.0
2          Audi       90  Compact       25.9   29.1  ...            28.0
3          Audi      100  Midsize        NaN   37.7  ...            31.0
4           BMW     535i  Midsize        NaN   30.0  ...            27.0
..          ...      ...      ...        ...    ...  ...             ...
88   Volkswagen  Eurovan      Van       16.6   19.7  ...            34.0
89   Volkswagen   Passat  Compact       17.6   20.0  ...            31.5
90   Volkswagen  Corrado   Sporty       22.9   23.3  ...            26.0
91        Volvo      240  Compact       21.8   22.7  ...            29.5
92          NaN      850  Midsize       24.8   26.7  ...            30.0

    Luggage.room  Weight   Origin                Make
0            NaN  2705.0  non-USA       Acura Integra
1           15.0  3560.0  non-USA        Acura Legend
2           14.0  3375.0  non-USA             Audi 90
3           17.0  3405.0  non-USA            Audi 100
4           13.0  3640.0  non-USA            BMW 535i
..           ...     ...      ...                 ...
88           NaN  3960.0      NaN  Volkswagen Eurovan
89          14.0  2985.0  non-USA   Volkswagen Passat
90          15.0  2810.0  non-USA  Volkswagen Corrado
91          14.0  2985.0  non-USA           Volvo 240
92          15.0  3245.0  non-USA           Volvo 850

[93 rows x 27 columns]

46.

In [62]:
pd.set_option('display.float_format', lambda x: '%.4f' % x)

df = pd.DataFrame(np.random.random(4)**10, columns=['random'])
df

   random
0  0.0000
1  0.1581
2  0.0000
3  0.0032

47.

In [64]:
df = pd.DataFrame(np.random.random(4), columns=['random'])
df['random'] = df['random'].map('{:.2%}'.format)
df

   random
0   8.05%
1  17.68%
2  11.58%
3  71.34%

48.

In [65]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
result = df.iloc[::20][['Manufacturer', 'Model', 'Type']]
result

   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small

49.

In [68]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv', usecols=[0,1,2,3,5])
df[['Manufacturer', 'Model', 'Type']] = df[['Manufacturer', 'Model', 'Type']].fillna('missing')
df.index = df['Manufacturer'] + '_' + df['Model'] + '_' + df['Type']
is_primary_key = df.index.is_unique
print(df)
print(is_primary_key)

                          Manufacturer    Model     Type  Min.Price  Max.Price
Acura_Integra_Small              Acura  Integra    Small    12.9000    18.8000
missing_Legend_Midsize         missing   Legend  Midsize    29.2000    38.7000
Audi_90_Compact                   Audi       90  Compact    25.9000    32.3000
Audi_100_Midsize                  Audi      100  Midsize        NaN    44.6000
BMW_535i_Midsize                   BMW     535i  Midsize        NaN        NaN
...                                ...      ...      ...        ...        ...
Volkswagen_Eurovan_Van      Volkswagen  Eurovan      Van    16.6000    22.7000
Volkswagen_Passat_Compact   Volkswagen   Passat  Compact    17.6000    22.4000
Volkswagen_Corrado_Sporty   Volkswagen  Corrado   Sporty    22.9000    23.7000
Volvo_240_Compact                Volvo      240  Compact    21.8000    23.5000
missing_850_Midsize            missing      850  Midsize    24.8000    28.5000

[93 rows x 5 columns]
True

50.

In [70]:
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))
fifth_largest_pos = df['a'].sort_values(ascending=False).index[4]

fifth_largest_pos

7

51.

In [71]:
ser = pd.Series(np.random.randint(1, 100, 15))
above_mean = ser[ser > ser.mean()]
second_largest_pos = above_mean.sort_values(ascending=False).index[1]

second_largest_pos

14

52.

In [72]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
result = df[df.sum(axis=1) > 100].tail(2)

result

     0   1   2   3
13  30  20  30  26
14  39  39  12  22

53.

In [74]:
ser = pd.Series(np.logspace(-2, 2, 30))
q_low = ser.quantile(0.05)
q_high = ser.quantile(0.95)
ser = ser.clip(lower=q_low, upper=q_high)

ser

0     0.0160
1     0.0160
2     0.0189
3     0.0259
4     0.0356
       ...
25   28.0722
26   38.5662
27   52.9832
28   63.8767
29   63.8767
Length: 30, dtype: float64

54.

In [75]:
df = pd.DataFrame(np.random.randint(-20, 50, 100).reshape(10,-1))
positive_values = df[df > 0].values.flatten()
n = int(np.sqrt(len(positive_values)))
result = pd.DataFrame(positive_values[:n*n].reshape(n, n))

result

,0,1,2,3,4,5,6,7,8,9
0,20.0000,20.0000,34.0000,NaN,47.0000,45.0000,11.0000,3.0000,NaN,NaN
1,45.0000,29.0000,NaN,NaN,7.0000,43.0000,47.0000,37.0000,49.0000,3.0000
2,NaN,1.0000,48.0000,NaN,11.0000,44.0000,37.0000,44.0000,32.0000,30.0000
3,NaN,1.0000,22.0000,22.0000,21.0000,NaN,15.0000,NaN,11.0000,35.0000
4,35.0000,24.0000,NaN,NaN,11.0000,8.0000,3.0000,15.0000,13.0000,NaN
5,48.0000,3.0000,43.0000,NaN,48.0000,NaN,22.0000,29.0000,16.0000,13.0000
6,35.0000,38.0000,1.0000,NaN,1.0000,NaN,38.0000,9.0000,NaN,28.0000
7,33.0000,5.0000,14.0000,23.0000,NaN,37.0000,NaN,NaN,34.0000,19.0000
8,37.0000,25.0000,NaN,39.0000,16.0000,47.0000,14.0000,35.0000,36.0000,32.0000
9,NaN,26.0000,NaN,10.0000,27.0000,44.0000,12.0000,27.0000,29.0000,NaN

55.

In [76]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))
df.iloc[1:3] = df.iloc[1:3].iloc[::-1].values
df

    0   1   2   3   4
0   0   1   2   3   4
1  10  11  12  13  14
2   5   6   7   8   9
3  15  16  17  18  19
4  20  21  22  23  24

56.

In [77]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))
df = df.iloc[::-1]

df

    0   1   2   3   4
4  20  21  22  23  24
3  15  16  17  18  19
2  10  11  12  13  14
1   5   6   7   8   9
0   0   1   2   3   4

57.

In [78]:
df = pd.DataFrame(np.arange(25).reshape(5,-1), columns=list('abcde'))
binary = pd.get_dummies(df['a'])
result = pd.concat([binary, df.drop('a', axis=1)], axis=1)

result

       0      5     10     15     20   b   c   d   e
0   True  False  False  False  False   1   2   3   4
1  False   True  False  False  False   6   7   8   9
2  False  False   True  False  False  11  12  13  14
3  False  False  False   True  False  16  17  18  19
4  False  False  False  False   True  21  22  23  24

58.

In [83]:
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1))
max_count = (df == df.max(axis=1).values.reshape(-1,1)).sum()
result = max_count.idxmax()

df[result]

0    90
1    85
2    72
3    97
4    30
5    74
6    61
7    17
8    56
9    99
Name: 1, dtype: int32

59.

In [84]:
from scipy.spatial.distance import cdist

df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))
distances = cdist(df.values, df.values)
np.fill_diagonal(distances, np.inf)
df['nearest_row'] = df.index[distances.argmin(axis=1)]
df['dist'] = distances.min(axis=1)

df

    p   q   r   s nearest_row    dist
a  78  26  33   8           b 43.5775
b  66   5  18  41           a 43.5775
c   2  36   9  85           i 63.4271
d  41   2  71  78           h 59.6154
e  77  48  56  45           a 48.8160
f  18  82  65  32           g 24.4745
g  15  77  88  38           f 24.4745
h  32  41  75  34           j 38.3406
i  63  45  20  75           e 49.0000
j  23  12  67  12           h 38.3406

60.

In [88]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1), columns=list('pqrstuvwxy'))
corr_matrix = df.corr().abs()
max_corr = corr_matrix.apply(lambda x: x.nlargest(2).iloc[1])

max_corr.max()

0.8129950333657581

61.

In [89]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))
result = df.max(axis=1) - df.min(axis=1)

result

0    71
1    52
2    83
3    74
4    61
5    71
6    89
7    75
dtype: int32

62.

In [90]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))
df['penultimate'] = df.apply(lambda x: x.nlargest(2).iloc[1], axis=1)
df

    0   1   2   3   4  ...   6   7   8   9  penultimate
0  66  26  60  27  26  ...  44  75   7  90           86
1  59  89  50  62  52  ...  33   5  68  43           68
2  47  28  27  91  91  ...   3  66  65  50           91
3  61  89  27  80  33  ...  69  98  34  33           89
4  64  93  17  64  20  ...   7  99  25  66           93
5  77  75  24  64  27  ...  10  83  10  85           83
6   4  50  62   1  13  ...  91  83  46  89           89
7  37  75  21   4  38  ...  18  27  21  16           38

[8 rows x 11 columns]

63.

In [91]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))
normalized_df = (df - df.mean()) / df.std()
scaled_df = (df - df.min()) / (df.max() - df.min())

print(normalized_df)
print(scaled_df)

        0       1       2       3       4       5       6       7       8  \
0 -1.4776  1.3380 -1.1630 -0.0102 -0.9455 -0.5146 -0.0143  0.9789 -0.7633
1 -0.0847  0.2133  1.1819  1.8205  0.5673  0.1265 -0.9327 -0.0653 -0.5468
2  0.1412 -1.0665 -0.1797  0.1526  1.0716 -2.2356  0.7605  0.1958 -0.5035
3  0.6682  0.3684  0.4255 -0.5390 -0.6573  0.8352 -0.8179  1.5010 -0.4602
4  1.1576  0.8726 -1.4656 -1.1900  1.2156  0.0928  0.5022 -0.5874 -1.0665
5  1.1576 -1.3380  1.2954  0.2746 -0.0810  0.5652 -1.5640  0.4895  0.4060
6 -0.3106  0.6011 -0.3688  0.6814 -1.5938  0.7339  0.8753 -1.2074  1.3155
7 -1.2517 -0.9890  0.2742 -1.1900  0.4232  0.3965  1.1909 -1.3053  1.6187

        9
0 -1.0502
1  1.1356
2 -0.5379
3  1.0673
4  1.1697
5 -0.9136
6  0.1110
7 -0.9819
       0      1      2      3      4      5      6      7      8      9
0 0.0000 1.0000 0.1096 0.3919 0.2308 0.5604 0.5625 0.8140 0.1129 0.0000
1 0.5286 0.5797 0.9589 1.0000 0.7692 0.7692 0.2292 0.4419 0.1935 0.9846
2 0.6143 0.1014 0.4658 0.4459 0.9487 0.0000 0.8438 0.5349 0.2097 0.2308
3 0.8143 0.6377 0.6849 0.2162 0.3333 1.0000 0.2708 1.0000 0.2258 0.9538
4 1.0000 0.8261 0.0000 0.0000 1.0000 0.7582 0.7500 0.2558 0.0000 1.0000
5 1.0000 0.0000 1.0000 0.4865 0.5385 0.9121 0.0000 0.6395 0.5484 0.0615
6 0.4429 0.7246 0.3973 0.6216 0.0000 0.9670 0.8854 0.0349 0.8871 0.5231
7 0.0857 0.1304 0.6301 0.0000 0.7179 0.8571 1.0000 0.0000 1.0000 0.0308

64.

In [92]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))
correlations = [df.iloc[i].corr(df.iloc[i+1]) for i in range(len(df)-1)]

correlations

[-0.1754156877095693,
 -0.117998733371662,
 -0.37777078220575316,
 -0.3959890914944966,
 -0.0864291706691199,
 -0.08824122213633862,
 -0.2959463918962485]

65.

In [93]:
df = pd.DataFrame(np.random.randint(1,100, 100).reshape(10, -1))
np.fill_diagonal(df.values, 0)
np.fill_diagonal(np.fliplr(df.values), 0)

df

    0   1   2   3   4   5   6   7   8   9
0   0  51  56  27  55  67   3  61  94   0
1  50   0  12  94  19  75  72  81   0  57
2  13  91   0  48   7  67   9   0  25  87
3   8   2  32   0  81  38   0  60  24  56
4  36  37  47  37   0   0  78  78  39  95
5   9  16  27  46   0   0  14  11  15  95
6  70   4  19   0  48  12   0  24  49   4
7  73  83   0  39  94  62  33   0  62  74
8  16   0  14  39  88  18  44  48   0  87
9   0  80  95  43  74  95  27  17  20   0

66.

In [94]:
df = pd.DataFrame({'col1': ['apple', 'banana', 'orange'] * 3,
                  'col2': np.random.rand(9),
                  'col3': np.random.randint(0, 15, 9)})
df_grouped = df.groupby(['col1'])
result = df_grouped.get_group('apple')

result

C:\Users\ntikh\AppData\Local\Temp\ipykernel_19288\2371300098.py:5: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  result = df_grouped.get_group('apple')

    col1   col2  col3
0  apple 0.4977    11
3  apple 0.3584    10
6  apple 0.3861    10

67.

In [46]:
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'taste': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})
print(df)

df_grouped = df['taste'].groupby(df.fruit)
df_grouped.get_group('banana').sort_values().iloc[-2]

    fruit     taste  price
0   apple  0.314483     10
1  banana  0.701399     12
2  orange  0.032592      2
3   apple  0.001210      6
4  banana  0.864207     10
5  orange  0.825510     14
6   apple  0.369629     10
7  banana  0.532130     10
8  orange  0.663491     14

0.7013987799381757

68.

In [47]:
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'taste': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

out = df.groupby('fruit', as_index=False)['price'].mean()
out

    fruit     price
0   apple  3.000000
1  banana  7.000000
2  orange  6.666667

69.

In [48]:
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})

pd.merge(df1, df2, 
         how='inner', 
         left_on=('fruit', 'weight'), 
         right_on=('pazham', 'kilo'),
         suffixes=('_left', '_right'))

    fruit weight  price_left  pazham  kilo  price_right
0   apple   high           4   apple  high           14
1  orange    low          14  orange   low           11
2   apple   high           1   apple  high           14
3  orange    low          14  orange   low           11
4   apple   high           1   apple  high           14
5  orange    low           1  orange   low           11

70.

In [49]:
df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns = list('abcd'))

df['a_lag1'] = df['a'].shift(1)
df['b_lead1'] = df['b'].shift(-1)

df

    a   b   c   d  a_lag1  b_lead1
0   5  80  10  21     NaN     40.0
1  55  40  31  62     5.0     97.0
2  92  97  98  27    55.0     13.0
3   7  13  28  29    92.0     30.0
4  89  30  34  92     7.0      NaN

71.

In [95]:
df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns=list('abcd'))
result = pd.value_counts(df.values.ravel())

result

C:\Users\ntikh\AppData\Local\Temp\ipykernel_19288\319276531.py:2: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  result = pd.value_counts(df.values.ravel())

9    4
5    3
2    3
1    3
4    2
6    2
7    1
8    1
3    1
Name: count, dtype: int64

72.

In [97]:
df = pd.DataFrame(["STD, City    State",
"33, Kolkata    West Bengal",
"44, Chennai    Tamil Nadu",
"40, Hyderabad    Telengana",
"80, Bangalore    Karnataka"], columns=['row'])

df_out = df.row.str.split(',|\t', expand=True)
new_header = df_out.iloc[0]
df_out = df_out[1:]
df_out.columns = new_header

df_out

0 STD            City    State
1  33   Kolkata    West Bengal
2  44    Chennai    Tamil Nadu
3  40   Hyderabad    Telengana
4  80   Bangalore    Karnataka